In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [7]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [9]:
innerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [13]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [14]:
hierarchy = list(zip(outerIndex,innerIndex))

In [15]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [16]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [17]:
df = pd.DataFrame(randn(9,3),hierarchy,columns = ["Column1","Column2","Column3"])

In [19]:
df

                Column1   Column2   Column3
Group1 Index1  0.414233  1.122951 -0.878733
       Index2 -0.776558  0.503319 -0.093820
       Index3 -0.198596  0.990162  0.381281
Group2 Index1  0.643141  0.289553 -0.701954
       Index2 -1.493863  0.567677 -0.984116
       Index3  0.599879  1.855795 -0.037308
Group3 Index1 -1.061018 -0.577348 -1.161752
       Index2 -0.491470 -0.977635 -0.607698
       Index3  1.999635  0.338620 -0.385764

In [20]:
df["Column1"]

Group1  Index1    0.414233
        Index2   -0.776558
        Index3   -0.198596
Group2  Index1    0.643141
        Index2   -1.493863
        Index3    0.599879
Group3  Index1   -1.061018
        Index2   -0.491470
        Index3    1.999635
Name: Column1, dtype: float64

In [22]:
df.loc["Group1"]

         Column1   Column2   Column3
Index1  0.414233  1.122951 -0.878733
Index2 -0.776558  0.503319 -0.093820
Index3 -0.198596  0.990162  0.381281

In [23]:
df.loc["Group2"]

         Column1   Column2   Column3
Index1  0.643141  0.289553 -0.701954
Index2 -1.493863  0.567677 -0.984116
Index3  0.599879  1.855795 -0.037308

In [26]:
df.loc[["Group1","Group3"]]

                Column1   Column2   Column3
Group1 Index1  0.414233  1.122951 -0.878733
       Index2 -0.776558  0.503319 -0.093820
       Index3 -0.198596  0.990162  0.381281
Group3 Index1 -1.061018 -0.577348 -1.161752
       Index2 -0.491470 -0.977635 -0.607698
       Index3  1.999635  0.338620 -0.385764

In [27]:
df.loc["Group1"].loc["Index1"]

Column1    0.414233
Column2    1.122951
Column3   -0.878733
Name: Index1, dtype: float64

In [28]:
df.loc["Group1"].loc["Index1"]["Column1"]

0.41423322456585804

In [34]:
print(df.index.names)

[None, None]

In [36]:
df.index.names = ["Groups","Indexs"] #+++++++++++++

In [37]:
df

                Column1   Column2   Column3
Groups Indexs
Group1 Index1  0.414233  1.122951 -0.878733
       Index2 -0.776558  0.503319 -0.093820
       Index3 -0.198596  0.990162  0.381281
Group2 Index1  0.643141  0.289553 -0.701954
       Index2 -1.493863  0.567677 -0.984116
       Index3  0.599879  1.855795 -0.037308
Group3 Index1 -1.061018 -0.577348 -1.161752
       Index2 -0.491470 -0.977635 -0.607698
       Index3  1.999635  0.338620 -0.385764

In [40]:
df.loc["Group1"] #same

         Column1   Column2   Column3
Indexs
Index1  0.414233  1.122951 -0.878733
Index2 -0.776558  0.503319 -0.093820
Index3 -0.198596  0.990162  0.381281

In [39]:
df.xs("Group1") #same

         Column1   Column2   Column3
Indexs
Index1  0.414233  1.122951 -0.878733
Index2 -0.776558  0.503319 -0.093820
Index3 -0.198596  0.990162  0.381281

In [41]:
df.xs("Group1").xs("Index2").xs("Column3")

-0.09382010834013074

In [45]:
#df.xs("Index1") error

In [46]:
df.xs("Index1",level="Indexs")

         Column1   Column2   Column3
Groups
Group1  0.414233  1.122951 -0.878733
Group2  0.643141  0.289553 -0.701954
Group3 -1.061018 -0.577348 -1.161752